[submodule "cloud/azure"]
	path = cloud/azure
	url = https://github.com/ygo74/azure
[submodule "automation/ansible"]
	path = automation/ansible
	url = https://github.com/ygo74/ansible
[submodule "containers/docker"]
	path = containers/docker
	url = https://github.com/ygo74/docker
[submodule "containers/kubernetes"]
	path = containers/kubernetes
	url = https://github.com/ygo74/kubernetes
[submodule "automation/yeoman/generator-ansible-project"]
	path = automation/yeoman/generator-ansible-project
	url = https://github.com/ygo74/generator-ansible-project.git
